<div class="detail-section">
  <div class="container-fluid">
    <img
      [src]="product != null ? product.imageUrl : null"
      class="detail-img"
      [alt]="product != null ? product.name : 'product title'"
    />

    <h3>{{ product != null ? product.name : "Loading Product..." }}</h3>
    <div class="price">
      {{ product != null ? product.unitPrice : "Loading.." }}

      <button (click)="addToCart(product)" class="btn btn-primary btn-sm">
        Add to cart
      </button>
    </div>

    <hr />
    <h4>Description</h4>
    <p>{{ product != null ? product.description : "Loading..." }}</p>
  </div>
</div>
