.security-btn {
  position: relative;
  right: 0;
  min-width: 95px;
  color: #fff;
  border: 10px solid #205b8d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 43px;
  background: #205b8d;
}

.login-status-header {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.login-status-user-info {
  line-height: 43px;
  border: 1px;
  padding: 0 17px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
