
.security-btn {
  position: relative;
  right: 0;
  min-width: 95px;
  color: #fff;
  border: 10px solid #205b8d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 43px;
  background: #205b8d;
}
