<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- loop -->
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ product.id }}">
              <img [src]="product.imageUrl" class="image-responsive" />
              <h1>{{ product.name }}</h1>
              <div class="price">
                {{ product.unitPrice | currency : "USD" }}
              </div>
            </a>
            <button (click)="addToCart(product)" class="btn btn-primary btn-sm">Add to cart</button>
          </div>
        </div>

        <!-- empty product handler -->

        <div
          *ngIf="products?.length == 0"
          class="alert alert-warning col-md-12"
          role="alert"
        >
          No products found.
        </div>
      </div>

      <!--begin footer-->

      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <ngb-pagination
                  [(page)]="thePageNumber"
                  [pageSize]="thePageSize"
                  [collectionSize]="theTotalElements"
                  [maxSize]="2"
                  [boundaryLinks]="true"
                  (pageChange)="listProducts()"
                ></ngb-pagination>
              </div>

              <div class="col-md-3 mt-2" style="text-align: right">
                <span class="mr-2" style="font-size: 13px"> Page Size </span>
                <select
                  #myPageSelect
                  (change)="updatePageSize(myPageSelect.value)"
                >
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--end footer-->
    </div>
  </div>
</div>
