<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <h3>Your Orders</h3>

      <div *ngIf="orderHistoryList.length>0">
          <table class="table table-bordered">
            <th width="20%"> Order Tracking Number </th>
            <th width="20%"> Total Price </th>
            <th width="20%"> Total Quantity</th>
            <th width="20%"> Order Tracking Number </th>
          </table>
      </div>
    </div>
  </div>
</div>
