<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <!--customer form group-->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-2">
              <label> First Name </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> Last Name </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> Email </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text" />
              </div>
            </div>
          </div>
        </div>

        <!--shipping address-->

        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2">
              <label> Country </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country">
                  <option>TO DO</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> Street </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> City </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> State </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option>TO DO</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> Zip Code </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
              </div>
            </div>
          </div>
        </div>

        <!--add check box to copy shipping to bill-->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
          <span class="au-checkmark"></span>Billing Address same as Shipping Address
          </label>
        </div>

        <!--billing address-->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2">
              <label> Country </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country">
                  <option>TO DO</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> Street </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> City </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> State </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option>TO DO</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label> Zip Code </label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
              </div>
            </div>
          </div>
        </div>

        <!--submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
